:root{
    --footer-and-headings-color: hsl(243, 87%, 12%);
    --cta-section-color: hsl(238, 22%, 44%);
    --buttons-color: hsl(224, 93%, 58%);
    --about-link-color: hsl(170, 45%, 43%);
    --box-shadow-color: hsl(0, 0%, 75%);
    --cta-and-footer-font-color:  hsl(240, 75%, 98%);
}